/* MAIN-COLOR: #2F4070*/
/* HEADER-COLOR: #f4deff*/

* ul {
  list-style-type: none;
}

html, body, .wrapper {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  font-family: 'Raleway', sans-serif !important;
}

body > * {
  font-family: 'Raleway', sans-serif !important;
  list-style: none;
}

a:hover, button:hover {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

.app-spinner {
    width: 100%;
    height: 100%;
    margin: 0;
}

#arrowPointerWrapper {
    flex: 0 1 33px;
    background: #2F4070;
}

.autocomplete-top {
    top: -170px;
}

button#toggleSliderBtn {
    border-radius: 0;

}

#banner {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 110px;
}

.btn-default.cp {
    color: #2f4070;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
}

.btn-default.cp:hover {
    background: #d1cdf9;
}

#controlPanel {
    color: #000;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    background: #fff;
}

#controlPanelWrapper {
    background: #fff;
    height: 35%;
    bottom: 0;
    width: 100%;
    padding: 0;

    /* Flex! Cool stuff. */
    display: flex;
    flex-flow: column;

    position: absolute;
    bottom: 0px;
    z-index: 20000;
}

.control-panel-caption {
    margin-left: 3px;
    font-size: 15px;
}

.cp-options {
    color: black !important;
}

.cp-inline {
    display: inline-block;
}

.cp-widget {

}

.cp-widget > aside {
    font-weight: 400;
    font-size: 12px;
}

.context-menu {
    width: 200px;
    background: #fff;
    position: absolute;
    z-index: 1110;
}

.context-menu:hover {
  cursor: auto;
}

.dropdown button {
  width: 100%;
  height: inherit;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 16px;
  font-weight: 700;
  padding: 0.5em;
}

.dropdown-toggle::after {
    margin-left: 20px;
}

.easy-autocomplete {
  width: auto !important;
}

.easy-autocomplete-container ul {
  background: #2F4070;
  color: #f4deff;
  margin: 0 auto;
  width: 76% !important;
}

.easy-autocomplete-container ul li:hover {
  background: #fff;
  color: #2F4070;
}

.easy-autocomplete-container ul li:focus {
  background: #fff;
  color: #2F4070;
}

.easy-autocomplete-container ul li:active {
  background: #fff;
  color: #2F4070;
}

.easy-autocomplete-container ul li.selected {
  background: #fff !important;
  color: #2F4070 !important;
}

.ember-view {
  width: 100%; height: 100%;
}


.full-overlay {
  opacity: 0.8;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 100000;
  top: 0;
  left: 0;
  position: fixed;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

header#loadIntro {
  /*padding: 5px;*/
}

.hidden {
  visibility: hidden;
}

#initLoader {
  display: flex;
  display: -webkit-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/** Search input **/

#loadImage {
  height: 85%;
  width: 70%;
}

#loadImage img {
  width: inherit;
  height: inherit;
}

.leaflet-gac-control {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  margin: 0;
  padding: 4px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.leaflet-gac-control:focus {
  border-color: #2F4070;
}

.leaflet-popup-content {
    margin: 0 !important;
}

.leaflet-popup-content-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}

#mainWrapper {
  visibility: hidden;
}

#map {
  height: 100%;
  width: 100%;
}

#mapNav {
  width: 100%;
  /*height: 35px;*/
  flex: 0 1 35px;
  background: #2F4070;
  color: #f4deff;
  line-height: 1.1;
  font-weight: 700;
  padding: 5px;
}

#mapWrapper {
  /*width: 100%;
  height: 100%;*/
  flex: 1 1 auto;
  background: #fff; /* mask the map tile rendering */
}

#miniPanel {
  /*margin-right: 45px;*/
  height: 100%;
}

#miniPanel .dropup, button {
  height: 100%;
}

#miniPanel button {
  border-radius: 0;
}

#miniPanel ul.sub-opt li {
  position: relative;
}

#miniPanel ul.sub-opt > li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#miniPanel ul.sub-opt li a {
  display: block;
  min-width: 150px;
}

.margin-10 {
    margin: 10px;
}

.m-loader {
    margin: 0 auto;
    display: block;
}

#panelCompLeft {

}

#panelCompMiddle {
    border-right: 1.5px solid rgba(47, 65, 112, 0.11);
    border-left: 1.5px solid rgba(47, 65, 112, 0.11);
}

#panelCompRight {

}

#panelCompRightWrapper .menu {
    padding: 7px;
    margin: 3px;
    font-weight: 800;
    color: #000;
}

#panelCompRightWrapper .dropdown {
    /*width: 50%;*/
}

.panel-comp {

}

.panel-wrapper {
    padding: 5px;
}

.prof-wrapper {

}

/* Negaitve,  text with sentiment value less than zero */
.sent-neg-1 {
    color: #D05050;
    fill: #D05050;
}

.sent-neg-2 {
    color: #BC3C3C;
    fill: #BC3C3C;
}

.sent-neg-3 {
    color: #A82828;
    fill: #A82828;
}

.sent-neg-4 {
    color: #8A0A0A;
    fill: #8A0A0A;
}

.sent-neg-5 {
    color: #6C0000;
    fill: #6C0000;
}

.sent-neg-6 {
    color: #580000;
    fill: #580000;
}

.sent-neg-7 {
    color: #440000;
    fill: #440000;
}

/* Positive, text with sentiment value greater than zero */
.sent-pos-1 {
    color: #64E464;
    fill: #64E464;
}

.sent-pos-2 {
    color: #46C646;
    fill: #46C646;
}

.sent-pos-3 {
    color: #28A828;
    fill: #28A828;
}

.sent-pos-4 {
    color: #0A8A0A;
    fill: #0A8A0A;
}

.sent-pos-5 {
    color: #006C00;
    fill: #006C00;
}

.sent-pos-6 {
    color: #004E00;
    fill: #004E00;
}

.sent-pos-7 {
    color: #008080;
    fill: #008080;
}

.showbox-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #a7b2b7;
    clear: both;
    display: block;
    float: none;
    margin: 0 auto !important;
}

.showbox-wrapper {

}

.right-cp-name {

}

#querySearchForm {
    text-align: center;
    /* width: 50%; */
    float: none;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

#querySearch {
    width: 75%;
    padding: 5px;
    color: #2f4070;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgba(47, 64, 112, 0.41);
}

.range-selector {
    text-align: center;
}

#sentimentChart {
    width: 100%;
    height: 120px;
    margin: 0;
}

#slideSwitchIcon {
    font-size: 1.2em;
    font-weight: 800;
    position: relative;
    top: 2px;
}

.sentiment-total-negative {
    color: red;
}

.sentiment-total-positive {
    color: blue;
}

.sentiment-total-neutral {
    color: grey;
}

.size-xl {
    font-size: 22px;
}

.sub-h {
    font-size: 30px;
    font-weight: 700;
    color: #2F4070;
}

.super-h {
    font-size: 70px;
    font-weight: 800;
    color: #1aa7ff;
}

.sup-li {

}

.sup-li a {
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
    text-align: center !important;
    margin: 0 auto;
    display: block;
}

.sup-li a:hover, .sup-li:hover {
    background: #c5d0f1;
    cursor: pointer;
}

.twitter-showbox-content {
    margin: 0;
    padding: 10px;
    min-height: 100px;
}

.twitter-showbox-content > * {
    padding: 5px;
    display: block;
    clear: both;
}

.twitter-showbox-prof {
    padding: 10px;
}

.twitter-showbox-prof .row {
    text-align: center;
}

.twitter-showbox-prof .row > * {
    display: block;
    margin: 0 auto !important;
}

.twitter-showbox-prof .row span {
    margin-top: 6px !important;
}

.twitter-showbox-prof {
    padding: 5px;
}

.twitter-showbox-prof * {
    padding: 0;
    margin: 0;
}

.twitter-shwobox-stats {
    height: 100%;
}

.twitter-shwobox-stats aside {
    background: lightblue;
    height: 100%;
    width: 30%;
    float: right;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.twitter-shwobox-stats figure.twitter-showbox-total-score {
    flex: 1;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.8;
}

.twitter-shwobox-stats figure.twitter-showbox-total-valence {
    flex: 0 1 30%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.twitter-showbox-username {
    margin-top: 3px;
    font-weight: 600;
    color: #284e5a;
}

.twitter-showbox-wrapper header {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    background: #2F4070;
    color: #fff;
}

.vanish {
    display: none;
}

#widgetList {

}

.width-100 {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-flow: column;
}
