<div class="wrapper">
  <nav id="mapNav">
    <div class="app-sign">
      <span class="size-xl">HiHitMap</span>
    </div>
  </nav>

  {{#leaflet-map lat=lat lng=lng zoom=zoom id="mapWrapper" onMoveend=(action "updateCenter")}}
    {{!-- Specify child layer components here --}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{/leaflet-map}}

  <div id="controlPanelWrapper">
    <div id="arrowPointerWrapper">
      <button class="btn btn-default cp">
        <span id="openControlPanelSpan" class="glyphicon glyphicon-menu-up"></span>
        <span class="control-panel-caption">Control Panel</span>
      </button>
    </div>
    <div id="controlPanel">

    </div>
  </div>

</div>

{{outlet}}
